{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 180,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "bracketSpacing": false,
    "bracketSameLine": false,
    "arrowParens": "always",
    "singleAttributePerLine": false
}
